// Color branding below according to Publicis Sapient colors

// Primary coolor is used as the baseline for the theme to appear in important
// locations. It is used:
//  - in the **Schedule** view for the background of the **keynote sessions**
//  - in the **TalkInfo** view for the **speaker** blocks background
//$primary: #FE414D;
//$text-on-primary: white;
$primary: #08386F;
$text-on-primary: white;

// Accent color is used to put accent on things that should stand out somehow.
// It is used:
//  - in the **Schedule** view for the **dashed line** to show the current time
//  - in the **TalkInfo** view
//      - for the **_rate/comment_** button
//      - for the **time** badge
//      - for the **room** badge
//$accent: #419FFE;
$accent: #F5C13F;
$text-on-accent: black;

// Passive color is used to dissociate "passive" information while not
// especially making them stand out
//  - in the **Header** for the background color of the banner with the date
//  - in the **TalkInfo** view for the **_back to planning_** button
//$passive: #B2B2B2;
$passive: #DFF3F6;
$text-on-passive: black;

// Background color is used to compute all the main colored backgrounds
// everywhere; it is used: - for the **Header** background
//  - in the **Schedule** view
//      - for the main background
//      - for the schedule ("wrapper") background, by lightening it a bit
//  - in the **TalkInfo** view
//      - for the main background
//      - for the main talk summary background, by lightening it a bit
//$background: #E6E6E6;
$background: #FFF6E6;

$radius: 2px;
$radius-badge: 20px;
$shadow: 0 0 20px 0 rgb(0 0 0 / 15%);

$engineering: #ffb60a; // sunglow
$product: #13b9b0; // teal l4
$design:#e6329b; // plum l4
$data: #b6a8ff; // purple l4
$other: #FF0000;

// derivative topic
$ai:$data;
$experience:$design;
$strategy:$product;
$ux:$design;
$ui:$design;

%body-shared {
  max-width: 1024px;
  box-shadow: $shadow;
  border-radius: $radius;
  margin: 30px auto auto;
  background-color: $background;
  padding-bottom: 10px;

  @media (max-width: 1024px) {
    border-radius: 0;
  }
}
